*{
    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');
}
.App{
    background-color: #E5E5E5;

    padding: 50px;
}
.App label{
    display: flex;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #313037
}
.input{
    margin-top: 8px;
    width: 544px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: none;
    padding: 18px 0 18px 20px;
}
.input:focus{
    outline: 2px solid #DADADA;
}
.input:active{
    border: none;
}
.input:disabled{
    background-color: #E8E8E8;
    color: #8D8E97;
}
.errorInput{
    border: 2px solid #FD3419;
}
.error{
    color: #FD3419;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}