.textarea{
    display: flex;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #313037
}
.textarea__form {
    width: 544px;
    border: none;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
    border-radius: 2px;
    padding: 18px 0 18px 20px;
}
.textarea__form:focus{
    outline: 2px solid #DADADA;
}
.textarea__form:active{
    border: none;
}
.textarea__form:disabled{
    background-color: #E8E8E8;
    color: #8D8E97
}