@import "../../styles/variables";

.title{
    
    &-big{
        font-style: normal;
        font-weight: 700;
        font-size: $font-size-headline-2-desktop;
        line-height: 44px;
        color: $color-secondary;
        padding-bottom: 24px;
        width: 450px;
        height: 132px;
        word-wrap: break-word;
        overflow: hidden;
        text-decoration: none;
    
        &:hover{
            cursor: pointer;
            color: $color-primary;
        }
    }

    &-medium{
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-headline-3-desktop;
        line-height: 28px;
        color: $color-secondary;
        margin-bottom: 29px;
        width: 351px;
        height: 56px;
        word-wrap: break-word;
        overflow: hidden;
        text-decoration: none;
    
        &:hover{
            cursor: pointer;
            color: $color-primary;
        }
    }

    &-small{
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-headline-3-desktop;
        line-height: 28px;
        color: $color-secondary;
        width: 222px;
        height: 84px;
        word-wrap: break-word;
        overflow: hidden;
        text-decoration: none;
        
        &:hover{
            cursor: pointer;
            color: $color-primary;
        }
    }
}
@media screen and (max-width: 1250px) {
    .title{

        &-big{
            font-style: normal;
            font-weight: 600;
            font-size: $font-size-headline-3-desktop;
            line-height: 28px;
            color: $color-secondary;
            padding: 0;
            width: 100%;
            height: 84px;
            
        }

        &-small{
            font-style: normal;
            font-weight: 600;
            font-size: $font-size-headline-3-desktop;
            line-height: 28px;
            color: $color-secondary;
            width: 100%;
            height: 84px;
            padding: 0;
        }
    }
}