.post-card-sm{
    display: flex;
    flex-direction: column;
    width: 352px;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 42px;
}
.post-card-sm__content{
    display: flex;
    flex-direction: row;
}
.post-card-sm__img{
    width: 96px;
    height: 96px;
    margin: 0 0 47px 34px;
}
.post-card-sm__name{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #313037;
}
.post-card-sm__name:hover{
    cursor: pointer;
    color: #2231AA;
}