.post-card-av{
    display: flex;
    flex-direction: column;
    width: 352px;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 42px;
}
.post-card-av__content{
    display: flex;
    flex-direction: column;
}
.post-card-av__img{
    width: 352px;
    height: 246px;
    margin-bottom: 24px;
    object-fit: cover;
}
.post-card-av__name{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #313037;
    margin: 0;
    margin-bottom: 29px;
}
.post-card-av__name:hover{
    cursor: pointer;
    color: #2231AA;
}