@import "../../styles/variables";

.post{
    padding-top: 156px;
    width: 100%;
    background-color: $color-light;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__section{
        width: 1120px;
    }

    &__number-post{
        font-size: $font-size-subline-1;
        color: $color-background-primary;
        margin-bottom: $indent-m;
    }

    &__link-home{
        background-color: inherit;
        border: none;
        cursor: pointer;
        color: $color-secondary;
        text-decoration: none;
    }

    &__title{
        font-size: $font-size-headline-1-desktop;
        font-style: bold;
        color: $color-secondary;
        line-height: 80px;
        text-align: left;
    }
    
    &__info{
        padding: 48px 64px 72px 64px;
    }

    &__image{
        width: 100%;
        padding-bottom: 48px;
    }

    &__text{
        font-size: $font-size-headline-3-desktop;
        color: $color-secondary;
        line-height: 32px;
        text-align: left;
        padding-bottom: 48px;
    }
    &__line-like{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__like{
        display: flex;
        flex-direction: row;
    }
}