@import "../../styles/variables";

.login{
    background-color: $color-secondary;
}
.login__button-back{
    color: $color-white;
}
.login__button-back:visited{
    color: $color-white;
}
.login__name{
    color: $color-white;
}
.sign-in__button-forgot{
    color: $color-white;
}