@import "../../styles/variables";

.navigation-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1120px;
    border-bottom: 1px solid $color-background-primary2;

    &__nav-item{
        background-color: $color-light;
        border: none;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-subline-1;
        line-height: 24px;
        color: $color-secondary;
        padding: 0 50px 24px 50px;
        cursor: pointer;
        white-space: nowrap ;
    }
    &__nav-item--border{
        border-bottom: 2px solid $color-secondary;
    }
}
@media screen and (max-width: 1250px) {
    .navigation-menu{  
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .navigation-menu{
        overflow: scroll;
        position: absolute;
        top: 250px;
        left: 0;
    }
}